.landing{
<<<<<<< HEAD
    background-color: darkgray;
    height: 36.2rem;
    position: static;
  }
=======
  background-color: darkgray;
  height: 36.2rem;
  position: static;
}
>>>>>>> upstream/master
