html{
  height: 100%;
}

body {
  margin: 0%;
  padding: 0%;
  height: 100%;
  font-family:  'Reem Kufi', sans-serif;
}




// ---------------------------------------
// SideDrawer

.side-drawer{
  height: 100%;
  background: black;
  box-shadow: 2px 0px 7px rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0%;
  right: 0%;
  width: 85%;
  max-width: 400px;
  z-index: 200;
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
}

.side-drawer.open{
  transform: translateX(0);
}

a{
  text-decoration: none;
  font-family: Helvetica, sans-serif;
  font-size: 1.5rem;
  color: white;
  font-family:  'Reem Kufi', sans-serif;

}


ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Trebuchet MS';
}

li{
  display: flex;
  align-items: center;
  padding: 1.8rem;  
  font-family:  'Reem Kufi', sans-serif;

}

// -------------------------------
// Backdrop

.backdrop{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 100;
  
}

// -----------------------------------
// HeaderToolbar

.toolbar{
  position: fixed;
  top: 0%;
  right: 0%;
  width: 100%;
  background: white;
  -webkit-box-shadow: -1px 7px 5px 0px rgba(0,0,0,0.17);
  -moz-box-shadow: -1px 7px 5px 0px rgba(0,0,0,0.17);
  box-shadow: -1px 7px 5px 0px rgba(0,0,0,0.17);
  height: 90px;

}

.main{
  display: flex;
  justify-content: center;
  left: 0;
  font-size: 3rem;
  
}

.toolbar__navigation{
  display: flex;
  height: 100%;
  align-items: center;
  padding: 0 1rem;
}

.toolbar__logo{
  margin-left: 1rem; 
}

.toolbar__logo a{
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
}

.spacer{
  flex: 1;
}

.toolbar_navigation-items ul{
  list-style: none;
  margin: 0%;
  padding: 0%;
  display: flex;
}

.toolbar_navigation-items li{
  padding: 0 0.5rem;
}

.toolbar_navigation-items a{
  color: white;
  text-decoration: none;
  
}

.toolbar_navigation-items a:hover, 
.toolbar_navigation-items a:active {
  color: #fa923f;
}

@media(max-width: 768px){
  .toolbar_navigation-items{
    display: none;
  }
}


// --------------------------------------
// DrawerToggleButton

.toggle-button{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 35px;
  width: 8px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box;

}

.toggle-button:focus{
  outline: none;
}

.toggle-button__line{
  width: 25px;
  height: 5px;
  border-radius: 20px;
  background: black;
  margin-top: 6px;
}
